## 📊 Manifest Changes

{{if .ManifestChanges}}
{{range $env, $diff := .ManifestChanges}}

### [`{{$env}}`]: {{if gt $diff.LineCount 0}}`{{$diff.LineCount}}` lines ({{$diff.AddedLineCount}}➕/{{$diff.DeletedLineCount}}➖){{else}}No changes detected.{{end}}

{{if gt $diff.LineCount 0}}
{{if eq $diff.ContentType "ext_ghartifact"}}

📎 Diff too large to display inline.
{{- if eq $diff.Content ""}}
 View the full diff in the artifacts in the workflow run.
{{- else}}
 View the full diff in the artifacts [in the workflow run here]({{$diff.Content}})
{{- end}}

{{else}}

```diff
{{$diff.Content}}
```

{{end}}
{{else}}
✅ No changes detected.
{{end}}

{{end}}
{{else}}
✅ No changes detected.
{{end}}